doctype
html
  head
    title= `${repo.full_name} Nekobuilder`
  body
    h1= repo.full_name
    h2= build.commit_message
    p= build.commit_author_name
    p= build.state
    table
        tbody
            each log in logs
                td= log.timestamp
                td= log.line