doctype
html
  head
    title= `${repo.full_name} Nekobuilder`
    link(rel="stylesheet", href="/octicons/octicons.css")
  body
    h1
        = repo.full_name
        a.mega-octicon.octicon-mark-github(href=repo.url, target="_blank")
    table
        tbody
            each build in builds
                tr
                    th
                        a(href=build.repository_id + '/' + build.id)= build.id
                    td= build.state
                    td= build.ref
                    td= build.commit_message
                    td= build.commit_author_name
                    td= build.started