doctype
html
  head
    title Nekobuilder
  body
    table
        tbody
            each repo in repos
                tr
                    th
                        a(href=repo.id)= repo.full_name
                    td= repo.description
                    td= repo.state || ''
                    td= repo.ref || ''
                    td= repo.commit_message || ''
                    td= repo.commit_author_name || ''
                    td= repo.started || ''